.wysiwyg-textarea[contentEditable="false"] {
  background-color:#eee
}
.wysiwyg-textarea.form-control{
  height: auto;
  min-height: 200px;
}
.wysiwyg-btn-group-margin {
  margin-right:5px;
}

figure img{
  max-width: 640px;
  max-height: 800px;
}
.wysiwyg-select {
  height:30px;
  margin-bottom:1px;
}

input[type="file"] /deep/ button {
    color: #000000;
    background: #ffffff;
    border: 1px solid #cccccc;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15),
        0 1px 1px rgba(0, 0, 0, .075);
    padding: .7em 1.1em;
    border-radius: 4px;
    cursor: pointer;
}
